# Only ignore secrets and local config
android/app/google-services.json
web/firebase_config.js
*.keystore
.env
build/
PROD_BUILD_*/
build/
*.apk
gradle-wrapper.jar
/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
.cxx/
/build
# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
android/app/google-services.json